##
# Variables defined in this file will be fed into config.py,
# names will be converted to uppercase, spaces before or after
# variable names and values are ignored
##


#
# Name of the app, this name is also used in various email templates
# as well as email subjects
#
app_name = CovidData

#
# Logging config file path, relative to project home folder
#
logging_conf = logging.conf

#
# Flask secret key used to encode cookies, etc.
#
secret_key = REPLACE_WITH_YOUR_SECRET_KEY

#
# JWT secret key for Flask-JWT-Extended
#
jwt_secret_key = REPLACE_WITH_YOUR_SECRET_KEY

#
# Database setup
#
database_uri = postgresql+psycopg2://YOUR_DB_USERNAME:YOUR_DB_PASSWORD@localhost/covid
database_uri_dev = postgresql+psycopg2://YOUR_DB_USERNAME:YOUR_DB_PASSWORD@localhost/covid_dev
database_uri_test = postgresql+psycopg2://YOUR_DB_USERNAME:YOUR_DB_PASSWORD@localhost/covid_test